
  .rectangleIcon {
    width: 139px;
    margin-left: 40px;
    height: 212px;
    background-color: #DFDFDF;
    &.active {
      border: 5px solid green;
      border-radius: 11px;
    }
  }
  .squareIcon {
    margin-top: 40px;
    width: 110px;
    height: 110px;
    background-color: #DFDFDF;
    &.active {
      border: 5px solid green;
      border-radius: 11px;
    }
  }
.createMain{

  margin-top:110px;

   .addListingBtn{
      background: #7CFC00;
      border: 1px solid #7CFC00;
      box-sizing: border-box;
      border-radius: 51px;
      margin-top:30px;
      height:48px;
      max-width:800px;
      display: block;
    text-align: center;
    line-height: 48px;
    color: #fff;
  }

.listingSec {
  
  div{justify-content: left;}

  .header {margin-bottom:30px;
    h1{font-size:27px; font-weight:bold; color:#000; margin-top:20px;}
    .doneBtn{
      width: 200px;
      height: 40px;
      line-height: 40px;
      padding: 0;
      font-size: 18px;
      font-weight: bold;
      float: right;
      color: #fff;
      margin-top: 30px;
    }
    p{font-size:22px; font-weight:normal; color:#000;}
    .label {
      font-weight: 700;
    }
    .text {
      font-size: 14px;
    }
  }



  .listingCard{
      background: #C4C4C4;
      border: 1px solid #C4C4C4;
      border-radius: 0px;
      padding:30px;
      margin-top: 10px !important;
      max-width:800px;
      justify-content: center;
      margin:0;
      height:500px;
      text-align:center;
      display: flex;
    justify-content: center;
    align-items: center;

      ul{    
        padding: 0;
        margin: 0;
        list-style: none;

        li.listTxt{
          display:block;
          width:100%;
          color:#565656;
          font-size:22px;
          list-style:none;
          margin-top:0;
        }
      }
  }

  .imgLabel{
  display:block;
  width:100%;
  height:100%;
  }

  .listingCard{cursor:pointer;
    margin-top: 10px !important;

      .imgIcon{color:#000}
      .impIconPlus{

          color: #000;
    margin-left: -30px;
    margin-top: 49px;
      }


    .settingIc{
        position: absolute;
    bottom: 0;
    right: 0;
    color: #000;
    cursor:pointer;
    }
  }


  .rightContent{
    h2{
      font-size:30px; 
      font-weight:bold;
      color:#000;
    }

    .pull-right{float:right}

    p{
      color:#9E9E9E;
      font-size:30px;
      font-weight:bold;

    }


          input{
            background: #FFFFFF;
            border: 2px solid #000000;
            box-sizing: border-box;
            color: #000;
            height: 42px;
            padding: 0px 30px;
            border-radius: 26px;
          }

          .bi-pencil-fill{cursor:pointer;}


      
  }
  
    .listingDiv {
      
      margin-top: 0px;
      .error{color:red; margin-left: 20px; display:block;}
      .listConatiner {
        width: 100%;
        padding: 20px;
        padding-top:0;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        div {
          .list {
            display: flex;
            flex-direction: column;
  
            span {
              font-size: 30px;
              font-weight: 700;
              margin-bottom: 10px;
              color:#9E9E9E;
            }

            .bi-pencil-fill{cursor:pointer;margin-left:10px;
              &:hover{
                  color:#000;
                  margin-left:10px;
              }
            }

            input{
              background: #FFFFFF;
              border: 2px solid #000000;
              box-sizing: border-box;
              // border-radius: 26px;
              color:#000;
              height:42px;
              padding:0px 30px;
              border-radius:26px;
            }
          }
          .pic {
            background-color: #8c8c8c;
            width: 70px;
            height: 70px;
            margin-left: auto;

            &.listingCard{
              width:100%;
              height:500px;
            }

          }
        }
      }
    }
    .image-upload > input
    {
        display: none;
    }

    .image-upload span
    {
        width: 80px;
        cursor: pointer;
    }
   
    div{

      button {
          border-radius: 25px;
          width: 70%;
          padding: 10px;
          background-color: #7CFC00;
          outline: unset;
          border: none;
      }
  }
  }
  
  }


 @media (max-width: 767px) {

  .createMain {

      .listingSec {
        .header .doneBtn {
            position: absolute;
            right: 20px;
            top: -70px;
            width: 80px;
            font-size: 15px;
        }

        .header .label {
          font-weight: 700;
          font-size: 20px;
          margin-top: 50px;
      }

      .listingDiv .listConatiner {
          padding: 0px;

          div .list span{
            font-size: 20px;
          }

      }

      .listingCard{
        height:300px;
        margin-bottom: 30px;
      }

       .rightContent{

          p{
            font-size: 20px;
          }


       } 

       .rightContent .pull-right {
          float: left;
      }


    }



  }


 }

