.product-setting-card {
    width: 70%;
    height: 300px;
    padding: 20px 35px;
    background: #FFFFFF;
    border: 1px solid #D8B491;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    .title {
        color: #000;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .description {
        font-family: Montserrat;
        font-size: 15px;
        margin-bottom: auto;
    }
    .button-group {
        .custom-button {
            background: #000000;
            border-radius: 5px;
            margin-bottom: 20px;
            width: auto;
            color: #FFFFFF;
            font-size: 18px;
            border: none;
            padding: 10px 30px;
        }
    }
}

@media (max-width: 768px) {
    .product-setting-card {
        width: 100%;
    }
}