.tab {
    margin-left: 0;
    margin-right: 0;
    .col {
        display: flex;
        justify-content: center;
        padding: 10px 0 10px 0;
        background-color: #DFDFDF;
        cursor: pointer;
        font-weight: 700;
        &:hover {
            background-color: #C4C4C4;
        }
    }

    .activeTab {
        color: white !important;
        background-color: #C4C4C4;
    }
}